week_*_scoreboards

# MacOS
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
*.pyc
__pycache__
*.egg-info
/dist

# Jupyter
.ipynb_checkpoints

rosters/
weekly_scoreboard/
transactions/
auth/oauth2yahoo.json
YahooGameInfo.json
league.json
standings.json
